<!DOCTYPE html>
<html ng-app="nodeTodo">
    <head>
        <title>Node + Express + Angular + PostgreSQL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link href="styleframework/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="stylesheets/style.css" rel="stylesheet" media="screen">
        <!-- scripts -->
        <script src="jsframework/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="jsframework/bootstrap.min.js" type="text/javascript"></script>
        <script src="jsframework/angular.min.js"></script>
        <script src="jsframework/angular-route.min.js"></script>
        <script src="javascripts/app.js"></script>
    </head>
    <body >
        <!-- NAVIGATION -->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Shri Bhuvaneshwari PU College, H-Cross(MC109)</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/addstudent">Add Student</a></li>
                <li><a ui-sref="about">About</a></li>
            </ul>
        </nav>
        <div class="container">
            <ng-view></ng-view>
        </div>
    </body>
</html>